- if (lr === "left")
	.avatar
		img(src="/images/testout.png")
.post-links
	a(href="fake")
		img(src='/images/bunny.png')
	a(href="fake")
		img(src='/images/bunny.png')
	a(href="fake")
div.post
	p.post-message= post.message_bb
- if (lr === "right")
	.avatar
		img(src="/images/testout.png")