doctype html
html
	head
		title= title
		block links
			script(src="/javascripts/jquery-2.1.1.min.js")
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='/stylesheets/xbbcode.css')
	body
		#content
			block content
				#nav-bar
					ul
						li
							img(src="/images/testout.png")
						li.nav-item
							a(href="fake") HOME
						li.nav-item
							a(href="fake") PROFILE
						li.nav-item
							a(href="fake") FORUMS
						li.nav-item
							a(href="fake") TOWNS
						li.nav-item
							a(href="fake") HELLO
				#right-column
					#header-bar
						block header-bar
					#inner-content
						block inner-content