extends layout

block append links
	link(rel='stylesheet', href='/stylesheets/login.css')

block header-bar

block inner-content
	#inner-content
		form#login(action="/login", method="post")
			.field#username
				label Username
				input(name="username")
			.field#password
				label Password
				input(type="password", name="password")
			input#submit-login(type="submit", value="login")