extends layout

block inner-content
	form#new-thread(method="post")
		.field
			label Title
			input(name="thread-alias")
		.field
			label Post
			textarea(name="post-message-bb")
		button#submit-thread Submit