extends layout

block append links
	script(src="/javascripts/xbbcode.js")
	script(src="/javascripts/post_form_helper.js")
	script(src="/javascripts/new_thread.js")

block inner-content
	.post-container.new-thread.left#new-post
		- var context = "new-thread";
		include ./includes/new_post_form.jade