extends layout

mixin thread(title)
	.title
		a.thread-link(href="fake") I wish I had a life
		.pages
			span (
			- for (var i = 0; i < 3; i++)
				a(href="fake") #{i}
				span , 
			span ...
			a(href="fake") 7
			span )
	.creator
		span Chisari
	.last-reply
		span Chisari
	.stats
		p 500 views
		p 14 replies

block inner-content
	#forum-bar
		#forum-title
			p#forum-name I am a forum
			p#forum-desc Discuss everything related to your dog.
		#forum-actions
			a#last-page(href='fake') <
			a#next-page(href='fake') >
			a#new-thread(href='fake') +
	#thread-list
		ul
			li.thread-row.header
				.title
					span Thread title
				.creator
					span Created by
				.last-reply
					span Last reply
				.stats
					span Stats
			- for (var i = 0; i < 3; i++)
				li.thread-row.stickied
					mixin thread('')
			- for (var i = 0; i < 5; i++)
				li.thread-row.unread
					mixin thread('')
			- for (var i = 0; i < 10; i++)
				li.thread-row
					mixin thread('')