extends layout

mixin forum(fobj, align)
	.subforum
		a.link-med(href="fake") Forum
		p.desc Hello, I am a forum
	
block inner-content
	- for (var i = 0; i < 4; i++)
		.forum-section
			.forum-header
				h1 Hello
			.forum-subforums
				- for (var i = 0; i < 3; i++)
					.forum-row
						mixin forum("")
						mixin forum("")