extends layout

mixin post(user, lr)
	.quote-container
		.quote-links
			a(href="fake")
				img(src='images/bunny.png')
			a(href="fake")
				img(src='images/bunny.png')
			a(href="fake")
				img(src='images/bunny.png')
		div(class="quote-"+lr)
			p Hello!

block inner-content
	- for (var i = 0; i < 10; i++)
		.post
			mixin post('1', 'left')