extends layout

mixin post(postObj, lr)
	.post-container(class=lr)
		- if (lr === "left")
			.avatar
				img(src="/images/testout.png")
		.post-links
			a(href="fake")
				img(src='images/bunny.png')
			a(href="fake")
				img(src='images/bunny.png')
			a(href="fake")
				img(src='images/bunny.png')
		div.post
			p= postObj.message
		- if (lr === "right")
			.avatar
				img(src="/images/testout.png")

block append links
	script(src="/javascripts/xbbcode.js")
	script(src="/javascripts/thread.js")

block header-bar
	#thread-bar
		#thread-desc
			= thread.title
		#thread-actions
			a#new-post(href=subforum+"/new") Post
			a Like
			a Report

block inner-content
	- for (var i = 0; i < thread.posts.length; i++)
		- var lr = (i%2 === 0 ? "left" : "right");
		mixin post(thread.posts[i], lr)