extends layout

mixin post(postObj, lr)
	.post-container(class=lr)
		- if (lr === "left")
			.avatar
				img(src="/images/testout.png")
		.post-links
			a(href="fake")
				img(src='images/bunny.png')
			a(href="fake")
				img(src='images/bunny.png')
			a(href="fake")
		div.post
			p.post-message= postObj.message_bb
		- if (lr === "right")
			.avatar
				img(src="/images/testout.png")

block append links
	script(src="/javascripts/xbbcode.js")
	script(src="/javascripts/post_form_helper.js")
	script(src="/javascripts/thread.js")

block header-bar
	#thread-bar
		#thread-desc
			= thread.title
		#thread-actions
			a#new-post-button(href=subforum+"/new") Post
			a Like
			a Report

block inner-content
	#thread
		- var postCount = thread.posts.length;
		- for (var i = 0; i < postCount; i++)
			- var lr = (i%2 === 0 ? "left" : "right");
			mixin post(thread.posts[i], lr)

block append content
	- var context = "append-thread";
	include ./includes/new_post_form.jade