extends layout

block append links
	link(rel='stylesheet', href='/stylesheets/thread.css')

mixin post(post, lr)
	include ./includes/post.jade

block append links
	script(src="/javascripts/xbbcode.js")
	script(src="/javascripts/jquery.serialize-object.min.js")
	script(src="/javascripts/post_form_helper.js")
	script(src="/javascripts/thread.js")

block header-bar
	#header-bar
		a#new-post-link New post

block inner-content
	#inner-content
		#thread
			- var postCount = thread.posts.length;
			- for (var i = 0; i < postCount; i++)
				mixin post(thread.posts[i])

block append content
	- var context = "append-thread";
	include ./includes/new_post_form.jade