@import "base"
@import "layout"

#inner-content
	text-align: center

#furniture-metadata
	display: none

#customize-room-container
	margin-top: 3rem
	position: relative
	display: inline-block
	width: 800px
	height: 600px

#customize-room
	position: absolute
	top: 0
	left: 0
	z-index: 1

#furniture-container
	ui-header(false)
	box-sizing(content-box)
	position: absolute
	border-radius(1rem 1rem 0 0)
	padding: 0.1rem
	text-align: left
	box-shadow(0 5px 0 rgba(0, 0, 0, 0.1))
	p
		padding: 0.5rem
