@import "reset.css"

/* colors */
$dark-brown = #2f230e
$light-grey = #bbbbbb
$pale-tan = #f3e9d7
$tan = #ecdcbf
$dim-tan = #e0c798
$dim2-tan = #d6b679
$cocoa = #d6a770
$dim-cocoa = #c88940
$pale-cocoa = #dfba90
$deep-brown = #582100

$faded-red = #eeb090
$aqua = #aaebeb

$avatar-width = 120px
$avatar-height = 200px
$nav-bar-width = 100px
$std-margin-side = 2rem

$preview-width = 130px
$preview-height = 220px

border-gradient(c1, c2)
	background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.2, c1), color-stop(0.5, c2), color-stop(0.8, c1))
	background-image: -moz-linear-gradient(left center, c1 20%, c2 50%, c1 80% )
	padding-bottom: 1px

border-radius(args...)
	-webkit-border-radius args
	-moz-border-radius args
	border-radius args

box-shadow(args...)
	-webkit-box-shadow args
	-moz-box-shadow args
	box-shadow args

quote()
	background-color: white
	padding: 1rem
	border-bottom: 1px solid $cocoa
	border-radius 15px
	min-height: 100px

smalltab()
	display: inline-block
	padding: 0.2rem 0.3rem 0.15rem 0.3rem
	font-size: 0.5rem
	border-radius 3px 3px 0 0

h1
	font-family: "Lora", serif
	font-size: 4rem
	color: white
	text-shadow: -1px 0 $dark-brown, 0 2px $dark-brown, 1px 0 $dark-brown, 0 -1px $dark-brown

*, *:before, *:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box

body
	font: 16px "04b03", "Lucida Grande", Helvetica, Arial, sans-serif
	background-color: $tan
	color: $dark-brown
	min-width: 40rem
	-webkit-font-smoothing: none

button, input
	font: 16px "04b03", "Lucida Grande", Helvetica, Arial, sans-serif
	-webkit-font-smoothing: none

body, html
	height: 100%
	text-align: center

.post
	&:nth-of-type(2n+1)
		background-color: rgba(255,255,255,0.2)

.quote-container
	display: block
	padding: 2rem
	.quote-links
		text-align: right
	.quote
		quote()
	.avatar
		width: $avatar-width

	&.left
		.quote
			margin-left: $avatar-width
		.avatar
			float: left

	&.right
		.quote
			margin-right: $avatar-width
		.avatar
			float: right

.link-med
	font-size: 1.5rem
	font-family: 'Francois One', sans-serif
	text-shadow: 0 1px $cocoa

.hover-pointer
	cursor: pointer

.desc
	font-size: 0.8rem

.field-group
	margin-bottom: 0.5rem

a:link
	text-decoration: none
	color: $dark-brown

#content
	position: relative
	height: 100%

#nav-bar
	width: $nav-bar-width
	height: 100%
	position: fixed
	left: 0
	text-align: center
	background-color: $dark-brown
	z-index: 999
	.nav-item
		a
			color: $pale-tan
			display: block
			width: 100%
			height: 100%
			padding: 0.5rem 0
			
		display: block

#inner-content
	margin-left: $nav-bar-width
	padding: 1rem 0
	height: 100%

form#login
	background-color: rgba($deep-brown,0.7)
	padding: 2rem 1rem
	text-align: right
	margin: 0 auto
	display: inline-block
	input
		font-size: 1.5rem
		margin-left: 1rem
		color: gold
	#submit-login
		margin: 0
		color: black
		font-size: 1.5rem
		border-width: 0
		background-color: $faded-red
		margin-top: 1rem
		width: 100%

form#signup
	text-align: right
	display: inline-block
	margin: 0 auto
	button#submit-signup
		background-color: $aqua
		border-width: 0
	#character-outfit-creation
		> *
			vertical-align: top
		#select-prev, #select-next
			width: 1rem
			display: inline-block
		button#prev-hair, button#next-hair
			margin-top: 80px
		button#prev-face, button#next-face
			margin-top: 5px
		button#prev-top, button#next-top
			margin-top: 17px
		button#prev-bottom, button#next-bottom
			margin-top: 10px

input
	border-width: 0px
	border-bottom: 1px solid white
	background-color: transparent
	padding: 2px

#thread-list
	li.thread-row
		padding: 0 $std-margin-side
		border-bottom: 1px solid $dim-tan
		&.stickied .title
		&.unread .title
			font-weight: bold
		&.header
			background-color: white
			box-shadow: 0 5px 20px -5px $cocoa
			zindex: 1
			position: relative
		> *
			display: inline-block
		.title
			display: inline-block
			height: 100%
			width: 50%
			.thread-link
				padding-top: 0.8rem
				display: block
				font-size: 1rem
			.pages
				padding-bottom: 0.4rem
				font-size: 0.7rem
				display: block
		.creator
			width: 15%
		.last-reply
			width: 15%
		.stats
			width: 19%
			font-size: 0.7rem

ul
	list-style-type: none
	padding: 0
	margin: 0

#dressroom
	margin: 0 auto
	text-align: center
	position: relative
	display: inline-block
	background-color: $dim-tan
	border-radius: 10px
	padding: 1rem
	> *
		vertical-align: top
	#wardrobe-col
		display: inline-block
		min-width: 300px		
		> *
			width: 100%
		#wardrobe
			padding: 0 0.5rem
			#wardrobe-inner
				border-radius: 10px
				padding-top: 1.5rem
				ul#subcategory-tabs
					width: 100%
					text-align: left
					font-size: 1.5rem
					z-index: 1
					display: inline-block
					li
						smalltab()
						color: white
						margin-right: 0.2rem
						background-color: $cocoa
				#subcategory-items
					background-color: white
					overflow-y: scroll
					border-radius: 0 0 10px 10px
					padding: 0.5rem
					text-align: left
			ul li
				display: inline-block

	#equipped-col
		text-align: left
		padding: 0 0.5rem
		display: inline-block
		min-width: 200px
		#equipped-inner
			.equipped-layer
				margin-bottom: 0.5rem
				.header
					smalltab()
					background-color: $faded-red
				ul
					background-color: white
					li
						border-bottom: 1px solid $pale-tan
						position: relative
						padding-top: 0.4rem
						span
							color: $cocoa
							padding-left: 0.5rem
						.actions
							position: absolute
							right: 0
							bottom: 0
							button
								background-color: $pale-tan
								border-width: 0
								margin: 0
	#preview
		display: inline-block
		width: $preview-width
		padding: 0
		margin: 0
		> *
			display: inline-block
			width: 100%
		#preview-actions
			height: 1.5rem
			background-color: $aqua
			button
				border-width: 0
				background-color: transparent
		#preview-inner
			background-color: white
			width: $preview-width
			height: $preview-height
			overflow: hidden

#forum-bar
	display: block
	background-color: white
	overflow: auto
	width: 100%
	padding: 0 $std-margin-side
	padding-bottom: 1rem

	#forum-title
		display: inline
		float: left
		#forum-name
			font-size: 2rem
			font-family: 'Francois One', sans-serif
			text-shadow: 0 1px $cocoa

	#forum-actions
		display: inline-block
		text-align: right
		float: right

		a
			display: inline-block
			background-color: $dark-brown
			font-size: 1.5rem
			padding: 0.8rem 1.6rem
			margin: 1px
			color: $tan
			border-radius 10px

		a#new-thread
			margin-left: 1rem

.forum-section
	margin: 0 auto
	width: 80%;
	max-width: 50rem

	a:link
		color: #b96c35
		font-weight: bold
		text-align: center
		text-decoration: none

	.forum-header
		padding: 0 3em
		position: relative
		top: 1.5rem

	.forum-subforums
		border-radius 2px
		background-color: $pale-tan
		border: 1px solid $dim-tan
		border-bottom: 2px solid $dim2-tan
		padding: 2rem 0 1rem 0

		.forum-row
			border-bottom: 1px solid $dim-tan

			&:last-child
				border-bottom-width: 0

			.subforum
				&:first-child
					border-right: 1px solid $dim-tan

				padding: 1rem 2rem
				margin: 0 2%
				width: 45.9%
				display: inline-block
